.upgrade-pro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 0, 128, 0.1);
    padding: 1rem 0;
}

.upgrade-pro-container h5 {
    text-align: center;
    font-size: large;
}

.upgrade-pro-container img {
    width: 5rem;
}

.upgrade-pro-container h6 {
    text-align: center;
    font-size: 0.8rem;
}